p {
  font-size: 15px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#words h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h3.round-number {
  z-index: -1;
  font-size: 15px !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

img.home-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

input#hide-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

div#current-score, div.score-block, div.team-button-block, pass-fail-buttons {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

p.score-list, p.player-list {
  font-size: 15px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

p.help-text {
  color: rgba(0, 0, 0, 0.25);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

div#set-bidding label {
  font-size: 10px;
}

div#team-buttons p {
  margin: 0;
}

button.team-buttons {
  margin: 10px;
  width: 40%;
}

div.clock-container {
  text-align: center;
}

#round-clock {
  display: inline-block;
  width: auto;
  zoom: 0.8;
  -moz-transform: scale(0.8)
}


#success-button, #fail-button {
  width: 95px;
  margin-left: 7px;
  margin-right: 7px;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}