<div class="col-md-8 col-md-offset-2">
  <hr>
  <audio id="alert-sound" src="audio/alert2.mp3" preload="auto"></audio>
  <div class="clock-container">
    <div id="round-clock" class="round-clock"></div>
  </div>
</div>

<script type="text/javascript">
  $('#start-timer-button').click(start_round_clock)
  $('#stop-timer-button').click(stop_round_clock)
</script>