<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>25 Words or Less</title>

  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/flipclock.css">
  <link rel="shortcut icon" href="images/favicon.png">

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/URI.js"></script>
  <script src="js/home.js"></script>
  <script src="js/flipclock.min.js"></script>
</head>
<header>
  <a href="/">
    <img class="home-button" src="images/home.png" alt="Home">
  </a>
</header>