<div class="col-md-12 team-button-block">
<%= $game[session.id].teams.map { |team| "<button type=\"button\" class=\"btn btn-primary team-buttons\">#{team.team_name}</button>" }.join %>
</div>

<script type="text/javascript">
  $('.team-buttons').click(set_active_team)
</script>